{% extends "base.twig" %}

{% block title %}Správa článků{% endblock %}

{% block content %}

    <h1>Správa článků</h1>

    <table class="table table-striped manage-posts-table">
    <thead>
        <tr>
            <th>Název</th>
            <th>Soubor</th>
            <th>Autor</th>
            <th>Stav</th>
            <th>Akce</th>
            <th>Přiřazení recenzenta</th>
        </tr>
        </thead>
        <tbody>
        {% for p in posts %}
            <tr data-id="{{ p.id_post }}">
                <td>{{ p.name }}</td>
                <td><a href="uploads/{{ p.file_path }}" target="_blank">PDF</a></td>
                <td>{{ p.author_name }}</td>

                <td>
                    {% if p.status_id == 1 %}
                        <span class="badge bg-warning text-dark">Čeká na schválení</span>
                    {% elseif p.status_id == 2 %}
                        <span class="badge bg-success">Schválen</span>
                    {% else %}
                        <span class="badge bg-danger">Zamítnut</span>
                    {% endif %}
                </td>

                <td>
                    <button class="btn btn-sm btn-success change-status" data-status="2">Schválit</button>
                    <button class="btn btn-sm btn-danger change-status" data-status="3">Zamítnout</button>
                </td>

                <td>
                    <select class="form-select assign-reviewer">
                        <option disabled selected>Vyber recenzenta</option>
                        {% for r in reviewers %}
                            <option value="{{ r.id_user }}">{{ r.name }}</option>
                        {% endfor %}
                    </select>

                    <button class="btn btn-primary btn-sm assign-btn mt-1">Přiřadit</button>

                    <div class="reviewer-msg mt-1 text-success d-none"></div>



                    {% if p.assigned_reviewers is not empty %}
                        <div class="mt-2">
                            <small class="text-muted">Již přiřazeni:</small><br>

                            {% for r in p.assigned_reviewers %}
                                <span class="badge bg-secondary me-1">{{ r.name }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}

                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock %}
